* {
    margin: 0;
    padding: 0;
}
div .movie-card {
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.3s;
    padding: 10px;
}
div .movie-card:hover {
    background-color: rgb(10, 85, 207);
    color: #fff;
    transform: translate(0, -10px);
}
a {
    text-decoration: none;
}
div .search-section {
    margin-top: 50px;
    text-align: center;
}
div .search-section input {
    width: 450px;
    padding: 10px;
    border-radius: 50px;
}
.flex-container {
    display: flex;
    width: 650px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.flex-container .details {
    padding: 10px 20px;
}
.details .text-bold {
    font-size: 20px;
    font-weight: 500;
}
.details .text-bold i {
    color:cornflowerblue;
}
.details .btn {
    color: #fff;
    background-color: cornflowerblue;
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    font-weight: 500;
    margin: auto;
    display: block;
}
.data-loading {
    text-align: center;
    font-size: 30px;
    margin-top: 250px;
}
.error {
    color: red;
    margin-top: 5px;
}




